body{
    background-color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
h1{
    color: white;
    font-weight: bold;
    text-align: center;
}
h3{
    color: white;
    font-weight: lighter;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;

}
b{
    color: #00a2ff;
    font-weight: bold;
}