body{
    background-color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* Menu */
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #000000;
    align-items: center;
}
.logo{
    width: 120px;
    height: auto;
}
.botones-menu ul {

    margin: 0;
    margin-right: 5%;
    padding: 0;
    display: flex;
    flex-direction: row;
}


/* Banner */
.banner{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Catalogo de servicios */
.catalogo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: #ffffff;
    border-bottom: 10%;
    border-top: 10%;
}

h1{
    font-size: 45px;
    text-align: center;
}
.parent {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 30px;
grid-row-gap: 0px;
justify-items: center;
}

.img-adultos{
    border-radius: 10px;
    width: 350px;
    height: auto;
}
.img-saxofon{
    border-radius: 10px;
    width: 350px;
    height: auto;
}
.img-infatil{
    border-radius: 10px;
    width: 350px;
    height: auto;
}


/* Reseñas */

.texto-reseña{
    color: #ffffff;
}

.carrusel{
    width: 100%;
    max-width: 600%;
    overflow: hidden;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 20%;
}

.imagenes-carrusel{
    display: flex;
    width: 30%;
    animation: 3s infinite;
    grid-column: auto;
}
.carrusel img{
    width: 100%;
    flex: 1;
    border-radius: 5%;

}


/* Footer */

.footer{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.footer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}