body{
    background-color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* Menu */
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #000000;
    align-items: center;
}
.logo{
    width: 120px;
    height: auto;
}
.botones-menu ul {

    margin: 0;
    margin-right: 5%;
    padding: 0;
    display: flex;
    flex-direction: row;
}


/* Banner */
.banner{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Catalogo de servicios */
.catalogo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: #ffffff;
    padding-bottom: 10%;
    padding-top: 10%;
}

h1{
    font-size: 45px;
    text-align: center;
}
.parent {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 30px;
grid-row-gap: 0px;
justify-items: center;
}

.img-adultos{
    border-radius: 10px;
    width: 350px;
    height: auto;
}
.img-saxofon{
    border-radius: 10px;
    width: 350px;
    height: auto;
}
.img-infatil{
    border-radius: 10px;
    width: 350px;
    height: auto;
}


/* Reseñas */

.resena {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
}

.texto-reseña {
    color: #ffffff;
}

.carrusel {
    width: 90%;
    overflow-x: auto;
}

.carrusel-track {
    display: flex;
    gap: 8px;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
}

.carrusel-track > div {
    scroll-snap-align: center;
    min-width: 400px;
    margin: 10px;
    background-color: #00a2ff;
}

.imagenes-carrusel {
    width: 100%;
    object-fit: cover;
    height: auto;
    filter: drop-shadow(1px 1px 5px);
}



/* Footer */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* Imagen de fondo a pantalla completa */
.contenedor {
  position: relative;
  width: 100%;
  height: 100vh; /* Toda la altura de la pantalla */
  overflow: hidden;
}

.fondo {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cubre sin deformar */
  display: block;
}

/* Texto alineado a la izquierda */
.contenido-superpuesto {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: white;
  max-width: 300px;
  background-color: rgba(0, 0, 0, 0.4); /* opcional */
  padding: 20px;
  border-radius: 8px;
}

/* Íconos en fila */
.iconos-redes {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}

.iconos-redes img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.iconos-redes img:hover {
  transform: scale(1.1);
}